<h2>Contacts</h2>

<p>For any queries regarding the booking status you can directly mail to  the hotel. But for that you must log in and if you are not signed up, Please <%= link_to "Sign up now!", new_user_path %></p>
