<% provide(:title, "About") %>

<h2>About Us</h2>

<p>This website provide you with all the hotels of your choiced location and price. The ratings and reviews of the guests helps you to find the best hotel to spend you holidays and stay. You can search hotels based on Name, Location, Minimum price, Maximum price and check-in and check-out dates.</p>
