<% provide(:title, "All Images") %>

<div class="center">
  <%= link_to("Admin Home", admin_path, class: "btn btn-primary") %>
</div>

<h2>Images</h2>

<%@images.each do |img| %>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag(img.image.url(:large), class: 'media-object'), img.image.url, target: '_blank' %>
        </div>

      </div>
    </div>
    <div class="col-sm-6">
      <%=link_to('delete', delete_admin_image_path(img), class: "btn btn-danger")%>
    </div>

  </div>
<hr>
</div>

<% end %>
